In [2]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
df=pd.read_csv('Credit.csv')
df.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 12 columns):
Unnamed: 0    400 non-null int64
Income        400 non-null float64
Limit         400 non-null int64
Rating        400 non-null int64
Cards         400 non-null int64
Age           400 non-null int64
Education     400 non-null int64
Gender        400 non-null object
Student       400 non-null object
Married       400 non-null object
Ethnicity     400 non-null object
Balance       400 non-null int64
dtypes: float64(1), int64(7), object(4)
memory usage: 37.6+ KB

In [11]:
df[['Gender','Student','Married','Ethnicity']]=df[['Gender','Student','Married','Ethnicity']].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 12 columns):
Unnamed: 0    400 non-null int64
Income        400 non-null float64
Limit         400 non-null int64
Rating        400 non-null int64
Cards         400 non-null int64
Age           400 non-null int64
Education     400 non-null int64
Gender        400 non-null category
Student       400 non-null category
Married       400 non-null category
Ethnicity     400 non-null category
Balance       400 non-null int64
dtypes: category(4), float64(1), int64(7)
memory usage: 27.0 KB

In [12]:
pd.get_dummies(df)

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Balance,Gender_ Male,Gender_Female,Student_No,Student_Yes,Married_No,Married_Yes,Ethnicity_African American,Ethnicity_Asian,Ethnicity_Caucasian
0,1,14.891,3606,283,2,34,11,333,1,0,1,0,0,1,0,0,1
1,2,106.025,6645,483,3,82,15,903,0,1,0,1,0,1,0,1,0
2,3,104.593,7075,514,4,71,11,580,1,0,1,0,1,0,0,1,0
3,4,148.924,9504,681,3,36,11,964,0,1,1,0,1,0,0,1,0
4,5,55.882,4897,357,2,68,16,331,1,0,1,0,0,1,0,0,1
5,6,80.180,8047,569,4,77,10,1151,1,0,1,0,1,0,0,0,1
6,7,20.996,3388,259,2,37,12,203,0,1,1,0,1,0,1,0,0
7,8,71.408,7114,512,2,87,9,872,1,0,1,0,1,0,0,1,0
8,9,15.125,3300,266,5,66,13,279,0,1,1,0,1,0,0,0,1
9,10,71.061,6819,491,3,41,19,1350,0,1,0,1,0,1,1,0,0
10,11,63.095,8117,589,4,30,14,1407,1,0,1,0,0,1,0,0,1
11,12,15.045,1311,138,3,64,16,0,1,0,1,0,1,0,0,0,1
12,13,80.616,5308,394,1,57,7,204,0,1,1,0,0,1,0,1,0
13,14,43.682,6922,511,1,49,9,1081,1,0,1,0,0,1,0,0,1
14,15,19.144,3291,269,2,75,13,148,0,1,1,0,1,0,1,0,0
15,16,20.089,2525,200,3,57,15,0,0,1,1,0,0,1,1,0,0
16,17,53.598,3714,286,3,73,17,0,0,1,1,0,0,1,1,0,0
17,18,36.496,4378,339,3,69,15,368,0,1,1,0,0,1,0,1,0
18,19,49.570,6384,448,1,28,9,891,0,1,1,0,0,1,0,1,0
19,20,42.079,6626,479,2,44,9,1048,1,0,1,0,1,0,0,1,0
20,21,17.700,2860,235,4,63,16,89,0,1,1,0,1,0,0,1,0
21,22,37.348,6378,458,1,72,17,968,0,1,1,0,1,0,0,0,1
22,23,20.103,2631,213,3,61,10,0,1,0,1,0,0,1,1,0,0
23,24,64.027,5179,398,5,48,8,411,1,0,1,0,0,1,1,0,0
24,25,10.742,1757,156,3,57,15,0,0,1,1,0,1,0,0,0,1
25,26,14.090,4323,326,5,25,16,671,0,1,1,0,0,1,1,0,0
26,27,42.471,3625,289,6,44,12,654,0,1,0,1,1,0,0,0,1
27,28,32.793,4534,333,2,44,16,467,1,0,1,0,1,0,1,0,0
28,29,186.634,13414,949,2,41,14,1809,0,1,1,0,0,1,1,0,0
29,30,26.813,5611,411,4,55,16,915,0,1,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,371,35.610,6135,466,4,40,12,992,1,0,1,0,1,0,0,0,1
371,372,39.116,2150,173,4,75,15,0,1,0,1,0,1,0,0,0,1
372,373,19.782,3782,293,2,46,16,840,0,1,0,1,1,0,0,0,1
373,374,55.412,5354,383,2,37,16,1003,0,1,0,1,0,1,0,0,1
374,375,29.400,4840,368,3,76,18,588,0,1,1,0,0,1,0,0,1
375,376,20.974,5673,413,5,44,16,1000,0,1,1,0,0,1,0,0,1
376,377,87.625,7167,515,2,46,10,767,0,1,1,0,1,0,1,0,0
377,378,28.144,1567,142,3,51,10,0,1,0,1,0,0,1,0,0,1
378,379,19.349,4941,366,1,33,19,717,1,0,1,0,0,1,0,0,1
379,380,53.308,2860,214,1,84,10,0,1,0,1,0,0,1,0,0,1
380,381,115.123,7760,538,3,83,14,661,0,1,1,0,1,0,1,0,0
381,382,101.788,8029,574,2,84,11,849,1,0,1,0,0,1,0,0,1
382,383,24.824,5495,409,1,33,9,1352,1,0,0,1,1,0,0,0,1
383,384,14.292,3274,282,9,64,9,382,1,0,1,0,0,1,0,0,1
384,385,20.088,1870,180,3,76,16,0,1,0,1,0,1,0,1,0,0
385,386,26.400,5640,398,3,58,15,905,0,1,1,0,1,0,0,1,0
386,387,19.253,3683,287,4,57,10,371,1,0,1,0,1,0,1,0,0
387,388,16.529,1357,126,3,62,9,0,1,0,1,0,1,0,0,1,0
388,389,37.878,6827,482,2,80,13,1129,0,1,1,0,1,0,0,0,1
389,390,83.948,7100,503,2,44,18,806,1,0,1,0,1,0,0,0,1
390,391,135.118,10578,747,3,81,15,1393,0,1,1,0,0,1,0,1,0
391,392,73.327,6555,472,2,43,15,721,0,1,1,0,1,0,0,0,1
392,393,25.974,2308,196,2,24,10,0,1,0,1,0,1,0,0,1,0
393,394,17.316,1335,138,2,65,13,0,1,0,1,0,1,0,1,0,0
394,395,49.794,5758,410,4,40,8,734,1,0,1,0,1,0,0,0,1
395,396,12.096,4100,307,3,32,13,560,1,0,1,0,0,1,0,0,1
396,397,13.364,3838,296,5,65,17,480,1,0,1,0,1,0,1,0,0
397,398,57.872,4171,321,5,67,12,138,0,1,1,0,0,1,0,0,1
398,399,37.728,2525,192,1,44,13,0,1,0,1,0,0,1,0,0,1
399,400,18.701,5524,415,5,64,7,966,0,1,1,0,1,0,0,1,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 12 columns):
Unnamed: 0    400 non-null int64
Income        400 non-null float64
Limit         400 non-null int64
Rating        400 non-null int64
Cards         400 non-null int64
Age           400 non-null int64
Education     400 non-null int64
Gender        400 non-null object
Student       400 non-null object
Married       400 non-null object
Ethnicity     400 non-null object
Balance       400 non-null int64
dtypes: float64(1), int64(7), object(4)
memory usage: 37.6+ KB