In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('Advertising.csv')
df.head()
df.columns
df.drop(['Unnamed: 0'],axis=1).head()
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
X=df.TV.values.reshape(-1,1)
y=df.sales.values.reshape(-1,1)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=42)
model = LinearRegression()
model.fit(X,y)
y_pred=model.predict(X_test)
score=model.score(X_test,y_test)
rse=mean_squared_error(y_test,y_pred)
print(score)
print(np.sqrt(rse))

0.6383705676836466
3.023379769230489

In [8]:
a,b=model.coef_,model.intercept_
print(a,b)

[[0.04753664]] [7.03259355]

In [4]:
X=df.radio.values
y=df.sales.values
c, d= np.polyfit(X, y,1)
print(c,d)

0.20249578339243943 9.311638095158283

In [6]:
def bootstrap_replicate_1d(data, func):
    return func(np.random.choice(data, size=len(data)))
def draw_bs_reps(data, func, size=1):
    """Draw bootstrap replicates."""

    # Initialize array of replicates: bs_replicates
    bs_replicates = np.empty(size)

    # Generate replicates
    for i in range(size):
        bs_replicates[i] = bootstrap_replicate_1d(data,func)

    return bs_replicates
def draw_bs_pairs_linreg(x, y, size=1):
    """Perform pairs bootstrap for linear regression."""

    # Set up array of indices to sample from: inds
    inds = np.arange(len(x))

    # Initialize replicates: bs_slope_reps, bs_intercept_reps
    bs_slope_reps = np.empty(size)
    bs_intercept_reps = np.empty(size)

    # Generate replicates
    for i in range(size):
        bs_inds = np.random.choice(inds, size=len(inds))
        bs_x, bs_y = x[bs_inds], y[bs_inds]
        bs_slope_reps[i], bs_intercept_reps[i] = np.polyfit(bs_x,bs_y,1)

    return bs_slope_reps, bs_intercept_reps

NameError: name 'a' is not defined

In [24]:
df.describe()

       Unnamed: 0          TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [2]:
X=df.drop(['sales','Unnamed: 0'],axis=1).values
y=df.sales.values.reshape(-1,1)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=42)
model = LinearRegression()
model.fit(X,y)
y_pred=model.predict(X_test)
score=model.score(X_test,y_test)
rse=mean_squared_error(y_test,y_pred)
print(score)
print(np.sqrt(rse))
print(model.coef_)
print(model.intercept_)

0.8782021518916642
1.7546101025040983
[[ 0.04576465  0.18853002 -0.00103749]]
[2.93888937]

In [ ]:
TSS=mean_absolute_error(y_test,y_pred)
RSS=np.sqrt(rse)
f=((TSS-RSS)/3)/(RSS/